body {
    background-color: black;
    overflow: hidden;
}
.sliderSplash {
    max-width: 1920px;
    height: 100vh;
    overflow-x: hidden;
}
#pageBg {
    transition: background 2s ease-in-out;
}
#bgImage {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    animation: imageAnimation 0.8s linear;    
}
@keyframes imageAnimation { 
    0% { 
        opacity: 0;
        animation-timing-function: ease-out; 
    }
    8% { 
        opacity: 0.2;        
    }
    17% { 
        opacity: 0.5; 
    }
    25% { 
        opacity: 0.7; 
        
    }
    100% { 
        opacity: 1; 
        animation-timing-function: ease-in; 
    }
}
.sliderNavWrapper {
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 5vh;


    /* border: 1px solid blue; */
}
.sliderNavWrapper .absoluteContainer {
    /* position: relative; */

    /* border: 1px solid white; */
}
.sliderNavWrapper .navigationDots {
    /* position: absolute; */
    width: 180px;
    height: auto;
    bottom: 50px;
    margin-left: calc(50% - 90px);

    /* border: 1px solid green; */
}
.sliderNavWrapper .navigationDots .item {
    position: relative;
    width: 33%;
    float: left;

    /* border: 1px solid red; */
}
.sliderNavWrapper .navigationDots .item .click { 
    width: 30px;
    margin: 0 auto;

    /* border: 1px solid blue; */
}
.sliderNavWrapper .navigationDots .item img {
    display: block;
    margin: 0 auto;
}
.sliderNavWrapper .horizontalLine {
    /* position: absolute;
    bottom: 11.5vh; */
    width: 100%;
    opacity: 0.43;
    z-index: -2;
    margin-top: 15px;
    border: solid 0.5px #ffffff;
}
.sliderNavWrapper .navDotInactive {
    width: 18px;
    height: 18px;
    border: 1px solid white;
    border-radius: 50%;
    opacity: 0.5;
    margin: 5px auto 0 auto;
}
.slick-dots {
    display: none !important;
}
.center {
    width: 154%;
    margin: 250px 0 0 -27%;
}
.center div {
    background-color: transparent;
    color: white;
    height: 200px;
    text-align: center;

    /* border: 1px solid white; */
}
/* .slide-cai {
    border: 1px solid red;
}  */
.center .slide-cai .ctn { 


    /* border: 1px solid pink; */
}
.center .slide-cai .ctn { 
    width: 540px;
    margin: 0 auto;

    /* border: 1px solid white; */
}
.center .slide-cai .ctn h1 {
    font-family: var(--Font-Family-Primary);
    font-size: 100px;
    line-height: 1.6;
    letter-spacing: 8.3px;
    text-align: center;
    margin-top: 0;
}
.center .slide-cai .ctn h1 .purplePeriod { 
    position: relative;
    width: 20px;
    height: 20px !important;
    border-radius: 50%;
    border: 1px solid #ac66fd;
    background-color: #ac66fd;
    display: inline-block;
    margin-left: -40px;
}
.callToAction {
    position: absolute;
    width: 500px;
    height: auto;
    color: white;
    text-align: center;
    bottom: 20vh;
    left: calc(50% - 250px);
}
.callToAction  p { 
    font-family: var(--Font-Family-Secondary);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
}
.callToAction  a {
    font-size: 24px;
    font-family: var(--Font-Family-Secondary);
    background: transparent;
    border-radius: 3px;
    border: solid 0.5px #ac66fd;
    padding: 20px 60px;
}
.slick-slide {
    width: 70%;

    /* border: 1px solid red; */
}
/* Purple Lines */
.purple-line-ctn {
    position: absolute;
    width: 750px;
    height: 50px;
    top: 490px;
    left: calc(50% - 375px);
}
.purple-line-ctn div { 
    width: 94px;
    /* height: 1px; */
    border-bottom: solid 0.5px #ac66fd;
}
.purple-line-ctn .left { 
    float: left;
}
.purple-line-ctn .left { 
    float: right;
}
/* Viewport Height */
@media (max-height: 900px) {
    #bgImage {
        margin-top: -100px;
    }
    .nav-two {
        margin: 50px auto 0 auto;
    }
    .center {
        width: 154%;
        margin: 120px 0 0 -27%;
    }
    .callToAction {
        bottom: auto;
        top: 400px;
    }
    .sliderNavWrapper {
        height: 20px;

        /* border: 1px solid yellow; */
    }
    .socialmedia {
        bottom: 10vh;
    }
    .purple-line-ctn {
        top: 360px;
    }
}

@media (max-height: 650px) {
    .callToAction {
        bottom: 7vh;
    }
    /* .sliderNavWrapper {
        bottom: auto;
        margin-top: 600px;
    } */
}
@media (max-height: 550px) {
    .callToAction {
        bottom: auto;
        margin-top: 550px;
    }
    .sliderNavWrapper {
        bottom: auto;
        margin-top: 700px;
    }
    .socialmedia {
        display: none;
    }
}
@media (min-width: 768px) and (max-height: 650px) {
    .sliderNavWrapper {
        bottom: auto;
        margin-top: 700px;
    }
}
@media (max-width: 1500px) and (max-height: 900px) {
    .purple-line-ctn {
        top: 340px !important;
    }
}
@media (max-width: 768px) and (max-height: 900px) {
    .sliderNavWrapper {
        height: 20px;
        top: 500px;

        /* border: 1px solid red; */
    }
}
@media (max-width: 1200px) and (max-height: 900px) {
    .purple-line-ctn {
        top: 315px !important;
    }
}

@media (max-width: 768px) and (max-height: 650px) {
    .callToAction {
        width: 300px;
        left: calc(50% - 150px);
        top: 350px;
    }
    .sliderNavWrapper {
        bottom: auto;
        top: 600px;

        /* border: 1px solid blue; */
    }
}
@media (max-width: 768px) and (max-height: 550px) {
    .sliderNavWrapper {
        bottom: auto;
        top: 550px;

        /* border: 1px solid blue; */
    }
}
@media (max-width: 414px) and (max-height: 900px) {
    #bgImage {
        margin-top: 0;
    }
    .sliderNavWrapper {
        height: 0px;
    }
}
/* Viewport Width */
@media (max-width: 1500px) {
    .center .slide-cai .ctn h1 {
        font-size: 80px;
    }
    .socialmedia {
        left: 100px;
    }
    .purple-line-ctn {
        width: 670px;
        top: 470px;
        left: calc(50% - 335px);
    }
}
@media (max-width: 1200px) {
    .center .slide-cai .ctn {
        width: 100%;
    }
    .center .slide-cai .ctn h1 {
        font-size: 50px;
    }
    .center .slide-cai .ctn h1 .purplePeriod {
        width: 15px;
        height: 15px !important;
        margin-left: -25px;
    }
    .callToAction {
        width: 400px;
        left: calc(50% - 200px);
    }
    .socialmedia {
        left: 50px;
    }
    .socialmedia img {
        margin-right: 10px;
    }
    .socialmedia .line {
        width: 40px;
        height: 18px;
        margin: 0 10px 0px 10px;
    }
    .purple-line-ctn {
        width: 410px;
        top: 445px;
        left: calc(50% - 200px);
    }
    .purple-line-ctn div { 
        width: 40px;
    }
}
@media (max-width: 990px) {
    .center .slide-cai .ctn h1 {
        font-size: 50px;
    }
    .socialmedia {
        display: none;
    }
}
@media (max-width: 768px) {
    .center {
        width: 170%;
        margin: 150px 0 0 -35%;
        height: 60px;

        /* border: 1px solid red; */
    }
    .center .slide-cai .ctn h1 .purplePeriod {
        width: 10px;
        height: 10px !important;
        margin-left: -20px;
    }
    .center .slide-cai .ctn h1 {
        font-size: 36px;
    }
    .callToAction {
        width: 300px;
        left: calc(50% - 150px);
        top: 350px;
    }
    .callToAction p {
        font-size: 16px;
    }
    .sliderNavWrapper {
        bottom: auto;
        top: 580px;
    }
    .purple-line-ctn {
        display: none;
    }
}
@media (max-width: 500px) {
    .center .slide-cai .ctn h1 {
        font-size: 6.8vw;
    }
    
}
@media (max-width: 414px) {
    .center {
        width: 170%;
        margin: 160px 0 0 -35%;
        height: 60px;

        /* border: 1px solid red; */
    }
    .center .slide-cai .ctn h1 {
        font-size: 6vw;
    }
    .callToAction {
        /* width: 300px;
        left: calc(50% - 150px); */
        top: 400px;
    }
    .callToAction p {
        font-size: 4vw;
    }
    .sliderNavWrapper {
        bottom: auto;
        top: 650px;
    }
}
