.sliderSplash {
    max-width: 1920px;
    height: 100vh;
    background-size: cover;
    overflow-x: hidden;

    border: 1px solid red;
}
.autoplay {
    width: 154%;
    margin: 100px 0 0 -27%;
}
.autoplay div {
    background-color: transparent;
    color: white;
    height: 500px;
    text-align: center;

    border: 1px solid white;
}
/* .slide-cai {
    border: 1px solid red;
}  */
.autoplay .slide-cai .ctn { 
    width: 540px;
    margin: 0 auto;

    border: 1px solid white;
}
.autoplay .slide-cai .ctn h1 {
    font-family: var(--Font-Family-Primary);
    font-size: 100px;
    line-height: 1.6;
    letter-spacing: 8.3px;
    text-align: center;
}
.autoplay .slide-cai .ctn h1 .purplePeriod { 
    position: relative;
    width: 20px;
    height: 20px !important;
    border-radius: 50%;
    border: 1px solid #ac66fd;
    background-color: #ac66fd;
    display: inline-block;
    margin-left: -40px;
}

.autoplay .slide-cai .ctn  p { 
    font-family: var(--Font-Family-Secondary);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
}
.autoplay .slide-cai .ctn a {
    font-size: 24px;
    font-family: var(--Font-Family-Secondary);
    background: transparent;
    border-radius: 3px;
    border: solid 0.5px #ac66fd;
    padding: 20px 60px;
}
.slick-slide {
    width: 70%;

    border: 1px solid red;
}
.slide-cai {
    border: 1px solid red !important;
} 